body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container,button{
    background: linear-gradient(to bottom,azure,rgba(100, 100, 100, 0.5));
}
h1{
    font-family: cursive,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 2.5rem;
}
.container {
   box-shadow: 5px 8px 18px grey;;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:85vh;
    width:30vw;
}
input{
    border:1px solid teal;
    border-radius:10%;
    width:90%;
    margin:10px;
    background-color:whitesmoke;
    padding: 30px 10px;
    font-size:2.5rem;
    text-align: end;
}
input::placeholder {
    opacity:0.2;
}
.buttons {
    margin-left:30px;
    display: flex;
}
.numbers {
    width:20vw;
    height:20vw;
    display:flex;
    flex-wrap:wrap;
}
button{
    border:none;
    border-radius: 50%;
    width:6vw;
    height:6vw;
    margin:5px;
    font-size:1.5rem;
}
button:hover {
    background: linear-gradient(to top,azure,rgba(100, 100, 100, 0.5));
    cursor: pointer;
}
.operators{
    width:10vw;
    height:20vw;
    display:flex;
    flex-wrap:wrap;
}
.number {
    background-color: cyan;
}
.operator {
    background-color: aquamarine;
}
.clear {
    background-color: lightsalmon;
}